.CodeMirror-scroll{
	background-color:transparent
}
.CodeMirror-gutters{
	border-right:none
}
#status-indicators,#status-info{
	background:transparent;
	color:inherit;
}
.CodeMirror-activeline-background {
	background:none;
}
#working-set-header{
	text-shadow:none;
}
.CodeMirror-gutter-filler {
    background: transparent;
}