#working-set-header,
#working-set-list-container
{
    /* Working files */
    background: rgba(0,0,0,0.1);
}
#project-files-header .btn-alt-quiet {
    /* the folder button */
    background: rgba(255,255,255,0.1);
}
.sidebar-selection,
.filetree-selection {
    /* Selected file or folder */
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#sidebar,
#main-toolbar,
#status-bar,
#status-info,
.inline-widget {
    background: #242424;
    color: #ccc;
}
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
/* color editor widget */

.color-editor {
    background-color: #242424;
    color: #997643
}
.color-editor aside header .large-swatch,
.color-editor aside ul.swatches li .swatch-bg .swatch {
    box-shadow: none;
    border-right: 1px solid black;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
}
.cm-s-Themes-for-Brackets-brunante.CodeMirror,
.cm-s-Themes-for-Brackets-brunante .CodeMirror-scroll {
    background: #141414;
    color: #f7f7f7;
}
.cm-s-Themes-for-Brackets-brunante .CodeMirror-gutters {
    background: #222;
    border-right: 1px solid #aaa;
}
.cm-s-Themes-for-Brackets-brunante .CodeMirror-linenumber {
    color: #aaa;
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: transparent !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #666;
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #777;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #888;
}

/* By using these two extreme colours, we make the cursor stand out no matter what the
   background colour is */

.cm-s-Themes-for-Brackets-brunante .CodeMirror-cursor {
    border-left: 1px solid white !important;
    border-right: 1px solid black !important;
}
.cm-s-Themes-for-Brackets-brunante .cm-variable {
    color: #ac805b;
}
.cm-s-Themes-for-Brackets-brunante .cm-variable-2 {
    color: #ac805b;
}
.cm-s-Themes-for-Brackets-brunante .cm-tag {
    color: #ac805b;
}
.cm-s-Themes-for-Brackets-brunante .cm-property {
    color: #ac805b;
}
.cm-s-Themes-for-Brackets-brunante .cm-qualifier {
    color: #ac805b;
}
.cm-s-Themes-for-Brackets-brunante .cm-special {
    color: #ac805b;
}
.cm-s-Themes-for-Brackets-brunante .cm-keyword {
    color: #f9ee98;
}
.cm-s-Themes-for-Brackets-brunante .cm-atom {
    color: #f9ee98;
}
.cm-s-Themes-for-Brackets-brunante .cm-number {
    color: #8DA6CE;
}
.cm-s-Themes-for-Brackets-brunante .cm-def {
    color: #8DA6CE;
}
.cm-s-Themes-for-Brackets-brunante .cm-operator {
    color: #cda869;
}
.cm-s-Themes-for-Brackets-brunante .cm-comment {
    color: #777;
    font-style: italic;
    font-weight: normal;
}
.cm-s-Themes-for-Brackets-brunante .cm-string {
    color: #8f9d6a;
}
.cm-s-Themes-for-Brackets-brunante .cm-string-2 {
    color: #f9ee98
}
.cm-s-Themes-for-Brackets-brunante .cm-meta {
    color: #8f9d6a;
    font-style: italic;
}
.cm-s-Themes-for-Brackets-brunante .cm-error {
    border-bottom: 1px solid red;
}
.cm-s-Themes-for-Brackets-brunante .cm-builtin {
    color: #cda869;
}
.cm-s-Themes-for-Brackets-brunante .cm-tag {
    color: #997643;
}
.cm-s-Themes-for-Brackets-brunante .cm-attribute {
    color: #d6bb6d;
}
.cm-s-Themes-for-Brackets-brunante .cm-header {
    color: #FF6400;
}
.cm-s-Themes-for-Brackets-brunante .cm-hr {
    color: #AEAEAE;
}
.cm-s-Themes-for-Brackets-brunante .cm-link {
    color: #ad9361;
    font-style: italic;
    text-decoration: none;
}
.cm-s-Themes-for-Brackets-brunante .CodeMirror-activeline-background {
    background: #27282E !important;
}
.cm-s-Themes-for-Brackets-brunante .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
    background: none !important;
}
.cm-s-Themes-for-Brackets-brunante .cm-matchhighlight {
    background-color: #f9ee98 !important;
    color: black !important;
    box-shadow: 0 0 1px #ac805b;
    border-radius: 2px;
}
.cm-s-Themes-for-Brackets-brunante .CodeMirror-selected {
    background-color: #27282E;
    border: 1px dotted #cda869;
}
.cm-s-Themes-for-Brackets-brunante .CodeMirror-selectedtext {
    background-color: #cda869;
    color: black;
}
.cm-s-Themes-for-Brackets-brunante.CodeMirror span.CodeMirror-matchingtag {
    background-color: #cda869 !important;
    color: black;
}
.cm-s-Themes-for-Brackets-brunante.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background-color: #27282E;
    color: #f9ee98;
}
.cm-s-Themes-for-Brackets-brunante.CodeMirror pre {
    padding: 0 15px 0 5px
}
/* Quick Docs */

.css-prop-values dl dt {
    color: #8DA6CE;
    /* .cm-number */
}
.inline-widget p {
    color: #ccc;
}
.css-prop-defn code,
.css-prop-defn h1 {
    color: #ac805b;
    /* .cm-variable */
}
