/*
BearTheme is bare theme for styling Adobe Brackets (Code Mirror) editor. Some elements need be overwritien, if you find comment with "may need !important", give it a try.
Good luck, have fun!
*/

.sidebar-selection,
.filetree-selection {
    /* Selected file or folder */
    background: #2f3234;
    border-bottom: none;
    border-top: none;
}
/*Sidebar*/

#sidebar {
    background-color: #25292a;
    color: #586e75;
}
/*General sidebar style*/

#working-set-header,
#working-set-list-container {
    /* Working files */
    background-color: #25292a;
    color: #586e75;
}
#project-files-header {
    padding: 0;
}
#project-files-header .btn-alt-quiet {
    /* Folder button */
    border-radius: 0;
    width: 100%;
    margin: 0;
    background-color: #2f3234;
    color: #657A81;
    padding: 10px;
}

/*Browser header, path select, search, X etc.*/

/*Project files container*/

#sidebar #project-files-container {
    background-color: #25292a;
    color: #657A81;
}
/*Project files - WITHOUT header*/

.jstree-brackets li a,
.jstree-brackets li .extension,
.jstree-brackets li a.jstree-clicked,
/* Files, folder and extensions */

#open-files-container li a,
#open-files-container li .extension,
#open-files-container li a.jstree-clicked {
    /* Files, folder and extensions in "working files"*/
    color: #fff;
}
/*Main area*/

.cm-s-Themes-for-Brackets-carbon-blue.CodeMirror,
.cm-s-Themes-for-Brackets-carbon-blue .CodeMirror-scroll {
    background-color: #25292a!important;
    color: #979797;
    line-height: 1.3em;
}
/*Main coding area, without line count.*/

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid white !important;
    z-index: 3;
}

/*Cursor styling*/
/*Left vertical bar with line count*/

.CodeMirror-gutter {
    background-color: #25292a;
    color: #586E75!important
}
/*Left bar with line count - it will affect global line count, BUT line count in inline editor won't be changed.*/

.CodeMirror-linenumbers {
    background-color: #25292a;
    color: #657A81!important;
}
/*Line count bar only, without "gutter"*/

.CodeMirror-foldgutter {
    background-color: #25292a
}
/*It's exactly .CodeMirror-gutter{} without .CodeMirror-linenumbers{}.*/
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
/*Syntax elements & action*/

.CodeMirror .cm-bracket {
    color: #93A1A1;
}
/* the < > */

.CodeMirror .cm-atom {
    color: #75715E
}
/*Atribbute value ex. #f00 in color:#f00;*/

.CodeMirror .cm-def {
    color: #75715E
}
/*variable definition*/

.CodeMirror .cm-number {
    color: #75715E
}
/*Numbers*/

.CodeMirror .cm-variable {
    color: #75715E
}
/*Variable name ex. class Variable_name */

.CodeMirror .cm-variable-2 {
    color: #979797
}
/*Variable declaration ex. $variable */

.CodeMirror .cm-property {
    color: #979797
}
/*Property ex. color in color:#f00;*/

.CodeMirror .cm-operator {
    color: #738A13
}
/*Operators ex. dots (:) between property and atom value*/

.CodeMirror .cm-comment {
    color: #7D8C93
}
/*Comment*/

.CodeMirror .cm-string {
    color: #678CB1
}
/*String elements ex. "description" in name="description" - including quotation*/

.CodeMirror .cm-meta {
    color: #93A1A1
}
/*Meta elements like ex.: <!DOCTYPE html>*/

.CodeMirror .cm-qualifier {
    color: #C4C4C4
}
/*Final qualifier like css class ex.: .cm-qualifier*/

.CodeMirror .cm-tag {
    color: #93A1A1;
}
/*Tags ex. ul or <ul>*/

.CodeMirror .cm-attribute {
    color: #C4C4C4;
}
/* Attribute ex. rel, href, name*/

.CodeMirror .cm-keyword {
    color: #C4C4C4;
}
/*Element call ex. array, class, public function, if, elseif, !important*/

.CodeMirror .cm-matchingtag {
    background: #363636;
}
.CodeMirror .CodeMirror-matchingtag {
    background: none;
    border-bottom: solid 1px #269186
}
/*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/

div.CodeMirror span.CodeMirror-matchingbracket {
    background: none;
    border-bottom: solid 1px #666;
    color: #ff3426 !important
}
/*Matching brackets, open/close*/

.CodeMirror-selected {
    background-color: #222218!important;
}
/*Selected lines - may need !important*/

.CodeMirror-activeline-background {
    background-color: #2f393c!important;
}
/*Active line - may need !important*/

.CodeMirror-gutter-elt {
    background-color: #25292a!important;
    color: #586e75!important;
}
/*Active line, line count section*/

/*Status bar - bottom*/

#status-bar {
    background-color: #25292a;
    color: #7D8C93;
}
/*Bottom status bar*/

/*Right toolbar - live preview, extensions*/

#main-toolbar {
    background-color: #25292a
}
/*Whole toolbar*/

/*Inline editor(Ex. Quick Edit - Ctrl + E)*/

.inline-widget {
    background: #3c3f41;
    color: #657A81;
}
/*Inline widget wrap, won't affect line count bar*/

/*Global rules apply to inline editor scroll, just use .inline-widget class to target only bar options of this area. Example below.*/

.inline-widget .CodeMirror-gutter {
    background: #2f3234;
    color: #657A81;
}
/*Inline editor "gutter", won't affect line count in inline editor*/

.inline-widget .CodeMirror-linenumbers {
    background: #2f3234 !important;
    color: #657A81;
}
/*Inline editor line numbers bar - no "gutter"*/

.inline-widget .related-container {
    background: #2f3234
}
/*Related container with similar rules*/
