/*
BearTheme is bare theme for styling Adobe Brackets (Code Mirror) editor. Some elements need be overwritien, if you find comment with "may need !important", give it a try.
Good luck, have fun!
*/

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#2f3234;
}

.sidebar-selection-triangle .triangle-visible::before{
    border-left:12px solid #2f3234;
}

/*Sidebar*/

#sidebar{background-color:#25292a;color:#586e75;} /*General sidebar style*/
#sidebar #working-set-header{background-color:#25292a;color:#586e75;} /*"Working files" header*/
#sidebar #open-files-container{background-color:#25292a;color: #677777;} /*Working files style*/

/*Project file header*/
#sidebar #project-files-header{background-color:#2f3234;color:#657A81;} /*Browser header, path select, search, X etc.*/

/*Project files container*/
#sidebar #project-files-container{background-color:#25292a;color:#657A81;} /*Project files - WITHOUT header*/


.jstree-brackets li a, .jstree-brackets li .extension, .jstree-brackets li a.jstree-clicked, /* Files, folder and extensions */
#open-files-container li a, #open-files-container li .extension, #open-files-container li a.jstree-clicked{ /* Files, folder and extensions in "working files"*/
    color:#586e75;
    text-shadow: 0 0 1px #000;
}

/*Main area*/
.CodeMirror{background-color:#25292a!important;color:#979797;line-height:1.3em;}/*Main coding area, without line count.*/

.CodeMirror div.CodeMirror-cursor { border-left: 1px solid white; z-index: 3;} /*Cursor stling*/

/*Brackets is based on webkit, so you can use scrollbar styling. Example below contains 8px width, grey scrollbar for the main area. You can use it with other section, just remember about z-indexes or things like 'selected' with overlap your scrollbar.*/
.CodeMirror .CodeMirror-vscrollbar{width: 8px; bottom:8px !important;} /*Scrollbar vertical. These values MUST be the same as height/width of scrollbars*/
.CodeMirror .CodeMirror-hscrollbar{height:8px; right:8px !important;} /*Scrollbar horizontal. These values MUST be the same as height/width of scrollbars*/

.CodeMirror ::-webkit-scrollbar {color: #606266; width: 8px; height:8px;} /* The width of vertical scrollbars and height of horizontal scrollbars*/
.CodeMirror ::-webkit-scrollbar-track {background-color:#2f3234} /* The track that scrollbars run in */
.CodeMirror ::-webkit-scrollbar-thumb { background-color: #606266;border-radius: 4px} /* The scrollbar thumb */

.CodeMirror-scrollbar-filler {height:8px !important; width:8px !important; background:#3B3D3F;} /* Corner where scrollbars meet. Width and height MUST be the same as that of scrollbars. Background should be the same as that of the scrollbar track*/
.CodeMirror-gutter-filler{ height:8px !important; background:#3B3D3F;color:#657A81;} /* Linenumber area left of horizontal scrollbar. Height MUST be the same as width/height of scrollbars */

.CodeMirror .CodeMirror-scroll .CodeMirror-gutters{background-color:#25292a}/*Left vertical bar with line count*/
.CodeMirror-gutter{background-color:#25292a;color: #586E75!important} /*Left bar with line count - it will affect global line count, BUT line count in inline editor won't be changed.*/
.CodeMirror-linenumbers{background-color:#25292a;color:#657A81!important;} /*Line count bar only, without "gutter"*/
.CodeMirror-foldgutter{background-color:#25292a} /*It's exactly .CodeMirror-gutter{} without .CodeMirror-linenumbers{}.*/

/*Syntax elements & action*/

.CodeMirror .cm-bracket { color: #93A1A1; } /* the < > */
.CodeMirror .cm-atom{color:#75715E} /*Atribbute value ex. #f00 in color:#f00;*/
.CodeMirror .cm-def{color:#75715E} /*variable definition*/
.CodeMirror .cm-number{color:#75715E } /*Numbers*/
.CodeMirror .cm-variable{color:#75715E} /*Variable name ex. class Variable_name */
.CodeMirror .cm-variable-2{color:#979797} /*Variable declaration ex. $variable */
.CodeMirror .cm-property{color:#979797} /*Property ex. color in color:#f00;*/
.CodeMirror .cm-operator{color:#738A13} /*Operators ex. dots (:) between property and atom value*/
.CodeMirror .cm-comment{color:#7D8C93} /*Comment*/
.CodeMirror .cm-string{color:#678CB1} /*String elements ex. "description" in name="description" - including quotation*/
.CodeMirror .cm-meta{color:#93A1A1} /*Meta elements like ex.: <!DOCTYPE html>*/
.CodeMirror .cm-qualifier{color:#C4C4C4}/*Final qualifier like css class ex.: .cm-qualifier*/

.CodeMirror .cm-tag{color:#93A1A1;} /*Tags ex. ul or <ul>*/
.CodeMirror .cm-attribute{color:#C4C4C4;}/* Attribute ex. rel, href, name*/
.CodeMirror .cm-keyword {color:#C4C4C4;} /*Element call ex. array, class, public function, if, elseif, !important*/
.CodeMirror .cm-matchingtag{background:#363636;}

.CodeMirror .CodeMirror-matchingtag{background:none;border-bottom: solid 1px #269186} /*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/
div.CodeMirror span.CodeMirror-matchingbracket{background:none;border-bottom: solid 1px #666;color:#ff3426} /*Matching brackets, open/close*/

.CodeMirror-selected{background-color:#222218!important;} /*Selected lines - may need !important*/
.CodeMirror-activeline-background{background-color:#2f393c!important;} /*Active line - may need !important*/
.CodeMirror-gutter-elt{background-color:#25292a!important;color: #586e75!important; padding: 0 15px 0 10px;} /*Active line, line count section*/

/*Status bar - bottom*/
#status-bar{background-color:#25292a;color:#7D8C93;}/*Bottom status bar*/

/*Right toolbar - live preview, extensions*/
#main-toolbar{background-color:#25292a} /*Whole toolbar*/

/*Inline editor(Ex. Quick Edit - Ctrl + E)*/
.inline-widget{background:#3c3f41;color:#657A81;} /*Inline widget wrap, won't affect line count bar*/

/*Global rules apply to inline editor scroll, just use .inline-widget class to target only bar options of this area. Example below.*/
.inline-widget .CodeMirror-gutter{background:#2f3234;color:#657A81;} /*Inline editor "gutter", won't affect line count in inline editor*/
.inline-widget .CodeMirror-linenumbers{background:#2f3234 !important;color:#657A81;} /*Inline editor line numbers bar - no "gutter"*/

.inline-widget .related-container{background:#2f3234} /*Related container with similar rules*/
