/** SIDEBAR **/
#sidebar, #working-set-header, #open-files-container, #main-toolbar{
	background:#0b3d6a;
	text-shadow:none;
}
#working-set-header, #open-files-container{ /* Working files */
	background:#1b5589;
}
#project-files-header, #working-set-header{/* "working files" header and folder header*/
	color:#E0E0E0!important;
}
#project-files-header{ border-top: 1px solid rgba(0,0,0,0.2);} /* Delimiter between "working files" and project files */
#project-dropdown-toggle:hover{ /* Open url when hover */
    color:#FFF!important;
    background:rgba(255,255,255,0.1);
	border:1px solid rgba(255,255,255,0.3);
}
.jstree-brackets li a, .jstree-brackets li .extension, .jstree-brackets li a.jstree-clicked, /* Files, folder and extensions */
#open-files-container li a, #open-files-container li .extension, #open-files-container li a.jstree-clicked{ /* Files, folder and extensions in "working fiels"*/
	color:#FFF!important;
}
.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
	background:#4284bf;
}
.sidebar-selection-triangle.triangle-visible::before{
	border-left:12px solid #4284bf;
}


#status-bar{ /* Bottom status bar */
    background:#0b3d6a;
    border-top:1px solid #aaa;
	color:#FFF;
}

.inline-widget{ /* Quick-edit styles */
	background:rgba(255,255,255, 0.06);
}

/** CodeMirror styles **/
.cm-s-cobalt.CodeMirror { background: #002240; color: white; }
.cm-s-cobalt div.CodeMirror-selected { background: #b36539 !important; }
.cm-s-cobalt .CodeMirror-gutters { background: #07345d; border-right: 1px solid #aaa; }
.cm-s-cobalt .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-cobalt .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-cobalt span.cm-comment { color: #08f; }
.cm-s-cobalt span.cm-atom { color: #845dc4; }
.cm-s-cobalt span.cm-number, .cm-s-cobalt span.cm-attribute { color: #ff80e1; }
.cm-s-cobalt span.cm-keyword { color: #ffee80; }
.cm-s-cobalt span.cm-string { color: #3ad900; }
.cm-s-cobalt span.cm-meta { color: #ff9d00; }
.cm-s-cobalt span.cm-variable-2, .cm-s-cobalt span.cm-tag { color: #9effff; }
.cm-s-cobalt span.cm-variable-3, .cm-s-cobalt span.cm-def { color: white; }
.cm-s-cobalt span.cm-error { color: #9d1e15; }
.cm-s-cobalt span.cm-bracket { color: #d8d8d8; }
.cm-s-cobalt span.cm-builtin, .cm-s-cobalt span.cm-special { color: #ff9e59; }
.cm-s-cobalt span.cm-link { color: #845dc4; }