#status-bar{ /* Bottom status bar */
    border-top:1px solid #484b4d;
	background:#3C3F41;
}
#status-indicators, #status-info{ /* Status bar text */
    background:transparent;
	color:#FFF;
}
#main-toolbar{ background:#3C3F41;}

.inline-widget{ /* Quick-edit styles */
	background:#3d4042;
}



/** CodeMirror styles **/

.cm-s-dark-soda.CodeMirror { background: #242424; color: #fff; }

.cm-s-dark-soda div.CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
  z-index: 3;
}

.CodeMirror-selected { 
    background: #3d3d3d;
    opacity: .23; 
}

.cm-s-dark-soda .cm-keyword {color: #ff007f;}
.cm-s-dark-soda .cm-atom {color: #c48cff;}
.cm-s-dark-soda .cm-number {color: #c48cff;}
.cm-s-dark-soda .cm-def {color: #fd963f;}
.cm-s-dark-soda .cm-variable {color: #fff;}
.cm-s-dark-soda .cm-variable-2 {color: #c48cff;}
.cm-s-dark-soda .cm-property {color: #52e3f6;}
.cm-s-dark-soda .cm-operator {color: #ff007f;}
.cm-s-dark-soda .cm-comment {color: #8c8c8c;}
.cm-s-dark-soda .cm-string {color: #ece47e;}
.cm-s-dark-soda .cm-string-2 {color: #ece47e;}
.cm-s-dark-soda .cm-meta {color: #a7ec21;}
.cm-s-dark-soda .cm-qualifier, .CodeMirror span.cm-builtin {color: #a7ec21;}
.cm-s-dark-soda .cm-bracket {color: #f9faf4;}
.cm-s-dark-soda .cm-tag {color: #ff007f;}
.cm-s-dark-soda .cm-attribute {color: #a7ec21;}
.cm-s-dark-soda .cm-matchhighlight {background-color: rgba(61,61,61.23);}

.cm-s-dark-soda span.CodeMirror-matchingbracket {
    color: #a7ec21;
    font-weight: bold;
}


.cm-s-dark-soda span.CodeMirror-searching {
  background-color: none;
  background: none;
  box-shadow: 0 0 0 1px #fff;
}

.cm-s-dark-soda .CodeMirror-linenumber,.cm-s-dark-soda .CodeMirror-gutters{
	color: #727272;
	background-color: #242424;
}


.cm-s-dark-soda span.cm-matchhighlight.CodeMirror-searching.CodeMirror-selectedtext {
    background-color: #ffe69d;
    color: #242424;
}