/*
BearTheme is bare theme for styling Adobe Brackets (Code Mirror) editor. Some elements need be overwritien, if you find comment with "may need !important", give it a try.
Good luck, have fun!
*/

/*Sidebar*/

#sidebar, #working-set-list-container {
    background-color: #323232 !important;
    color: #aeaeae !important;
}

/*Working files style*/

/*Project file header*/

#project-files-header {
    padding: 0;
}
#project-files-header .btn-alt-quiet {
    /* Folder button */
    border-radius: 0;
    width: 100%;
    margin: 0;
    background-color: #393939;
    padding: 10px;
}

.sidebar-selection,
.filetree-selection {
    /* Selected file or folder */
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: transparent !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #565656;
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #656565;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #f5f5f5;
}


/*Main area*/

.CodeMirror,
.CodeMirror-scroll {
    background: #323232;
    color: #f5f5f5;
    line-height: 1.3em;
    letter-spacing: 0.1px;
    font-weight: lighter
}
/*Main coding area, without line count.*/

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid white !important;
}
/*Cursor stling*/

/* Linenumber area left of horizontal scrollbar. Height MUST be the same as width/height of scrollbars */

.CodeMirror .CodeMirror-scroll .CodeMirror-gutters {
    background-color: #323232
}
/*Left vertical bar with line count*/

.CodeMirror-gutter {
    background-color: #323232
}
/*Left bar with line count - it will affect global line count, BUT line count in inline editor won't be changed.*/

.CodeMirror-linenumbers {
    background-color: #323232;
}
/*Line count bar only, without "gutter"*/

.CodeMirror-foldgutter {
    background-color: #323232;
}
/*It's exactly .CodeMirror-gutter{} without .CodeMirror-linenumbers{}.*/

/*Syntax elements & action*/

.CodeMirror .cm-bracket {
    color: #ffe5bb!important;
}
.CodeMirror .cm-atom {
    color: #ffc66d
}
/*Atribbute value ex. #f00 in color:#f00;*/

.CodeMirror .cm-def {
    color: #9B859D
}
/*variable definition*/

.CodeMirror .cm-number {
    color: #6c99bb
}
/*Numbers*/

.CodeMirror .cm-variable {
    color: #f5f5f5
}
/*Variable name ex. class Variable_name */

.CodeMirror .cm-variable-2 {
    color: #b7dff8
}
/*Variable declaration ex. $variable */

.CodeMirror .cm-property {
    color: #ebebeb
}
/*Property ex. color in color:#f00;*/

.CodeMirror .cm-operator {
    color: #9B703E
}
/*Operators ex. dots (:) between property and atom value */

.CodeMirror .cm-comment {
    color: #BC9458;
    font-style: italic
}
/*Comment*/

.CodeMirror .cm-string {
    color: #A5C261
}
/*String elements ex. "description" in name="description" - including quotation*/

.CodeMirror .cm-meta {
    color: #ffe5bb
}
/*Meta elements like ex.: <!DOCTYPE html>*/

.CodeMirror .cm-qualifier {
    color: #9B703E
}
/*Final qualifier like css class ex.: .cm-qualifier*/

.CodeMirror .cm-tag {
    color: #ffc66d
}
/*Tags ex. ul or <ul>*/

.CodeMirror .cm-attribute {
    color: #ffe5bb
}
/*Attribute ex. rel, href, name*/

.CodeMirror .cm-keyword {
    color: #b83426
}
/*Element call ex. array, class, public function, if, elseif, !important*/

.CodeMirror .cm-matchingtag {
    background: #363636
}
.CodeMirror .CodeMirror-matchingtag {
    background: none;
    border-bottom: dotted 1px #666 !important
}
/*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/

div.CodeMirror span.CodeMirror-matchingbracket {
    background: none;
    border-bottom: dotted 1px #666 !important;
    color: white !important
}
/*Matching brackets, open/close*/

.CodeMirror-selected {
    background-color: #ccc;
    opacity: 0.20;
}
/*Selected lines - may need !important*/

.CodeMirror-activeline-background {
    background-color: #ccc;
    opacity: 0.1
}
/*Active line - may need !important*/

.CodeMirror-gutter-elt {
    background: #323232!important;
    color: #f5f5f5!important;
}
/*Active line, line count section*/

/*Status bar - bottom*/

#status-bar {
    background-color: #323232;
    color: #aeaeae;
}
/*Bottom status bar*/

/*Right toolbar - live preview, extensions*/

#main-toolbar {
    background-color: #323232
}
/*Whole toolbar*/

/*Inline editor(Ex. Quick Edit - Ctrl + E)*/

.inline-widget {
    background: #565656
}
/*Inline widget wrap, won't affect line count bar*/

/*Global rules apply to inline editor scroll, just use .inline-widget class to target only bar options of this area. Example below.*/

.inline-widget .CodeMirror-gutter {
    background: #565656
}
/*Inline editor "gutter", won't affect line count in inline editor*/

.inline-widget .CodeMirror-linenumbers {
    background: #565656 !important
}
/*Inline editor line numbers bar - no "gutter"*/

.inline-widget .related-container {
    background: #646464
}
/*Related container with similar rules*/

/*Transparent Scroll Bar Background*/
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
