#status-bar {
    background: #3c3f41;
    color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#main-toolbar {
    background-color: #3c3f41;
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: transparent !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #5d5f60;
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #6c6c6c;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #797979;
}

.cm-s-Themes-for-Brackets-light-table.CodeMirror,
#editor-holder #not-editor,
.cm-s-Themes-for-Brackets-light-table .CodeMirror-scroll {
    background-color: #202020;
    color: #ccc;
}
.cm-s-Themes-for-Brackets-light-table .CodeMirror-sizer {
    padding-bottom: 40px;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-gutters {
    border-color: #202020;
    background: #202020;
}
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-linenumbers {
    background-color: #202020;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-linenumber {
    color: #99997a;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-activeline {
    background: rgba(255, 255, 255, .1);
}
.cm-s-Themes-for-Brackets-light-table span.CodeMirror-matchingtag {
    color: white!important;
    background: rgba(255, 255, 255, 0.2) !important;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-cursor {
    border-left: 1px solid #ffffff !important;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-selected {
    background: rgba(255, 255, 255, .2);
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-matchingbracket {
    border-bottom: 1px solid #33ffff;
    color: #ccc19b !important;
    background: transparent !important;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .CodeMirror-unmatchingbracket {
    border-bottom: 1px solid #cb3233;
    color: #cb3233;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-comment {
    color: #968879;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-property,
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-operator {
    color: #aaa;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-qualifier {
    color: #aaeeab;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-tag {
    color: #7ac1ff;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-def {
    color: #aaccff;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-number {
    color: #ccccab;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-atom {
    color: #cc9dc7;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-keyword {
    color: #aacd80;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-string {
    color: #aadddd;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-string-2 {
    color: #7ad1dd;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-variable {
    color: #ccc19b;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-variable-2 {
    color: #aaccff;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror .cm-attribute {
    color: #83e1b2;
}
.cm-s-Themes-for-Brackets-light-table.CodeMirror-focused .CodeMirror-activeline-background,
.cm-s-Themes-for-Brackets-light-table.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background-color: rgba(255, 255, 255, 0.1);
}
