#status-bar,
.cm-s-Themes-for-Brackets-mbo .CodeMirror-gutters,
#main-toolbar {
    background: #333;
    color: rgba(255, 255, 255, 0.9);
}
#sidebar {
    background: #414141;
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: transparent !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #5d5f60;
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #6c6c6c;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #797979;
}

.inline-widget {
    /* Quick-edit styles */
    background-color: rgb(45, 47, 44);
}
.css-prop-defn code,
.css-prop-defn h1,
.css-prop-values dl dt {
    color: #999;
}
.css-prop-defn {
    color: #CCC;
}
.divider-holder .divider {
    border-right: 1px solid rgb(50, 51, 49);
    border-left: 1px solid rgb(34, 36, 32);
}
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
a.more-info {
    background-color: #454545;
    border: 1px solid #555;
    border-bottom: none;
    box-shadow: inset 0 1px 0 #777;
    text-shadow: none;
    color: #CCC;
}
.cm-s-Themes-for-Brackets-mbo .CodeMirror-matchingtag {
    background: none !important;
    text-decoration: underline;
    color: #9DDFE9 !important;
}
.cm-s-Themes-for-Brackets-mbo.CodeMirror-focused .CodeMirror-activeline-background,
.cm-s-Themes-for-Brackets-mbo.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #333;
    color: #d9d9d9;
}
.cm-s-Themes-for-Brackets-mbo.CodeMirror,
#editor-holder #not-editor,
.cm-s-Themes-for-Brackets-mbo .CodeMirror-scroll {
    background-color: #2c2c2c;
    color: #ffffe9;
}
.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #ffffec !important;
}
.CodeMirror-selected {
    background: #716C62;
    opacity: .23;
}
.cm-s-Themes-for-Brackets-mbo .cm-keyword {
    color: #ffb928;
}
.cm-s-Themes-for-Brackets-mbo .cm-atom {
    color: #00a8c6;
}
.cm-s-Themes-for-Brackets-mbo .cm-number {
    color: #00a8c6;
    font-weight: bold;
}
.cm-s-Themes-for-Brackets-mbo .cm-def {
    color: #ffffec;
}
.cm-s-Themes-for-Brackets-mbo .cm-variable {
    color: #ffffec;
}
.cm-s-Themes-for-Brackets-mbo .cm-variable-2 {
    color: #00A8C6;
}
.cm-s-Themes-for-Brackets-mbo .cm-property {
    color: #52e3f6;
}
.cm-s-Themes-for-Brackets-mbo .cm-operator {
    color: #ff007f;
    font-weight: bold;
}
.cm-s-Themes-for-Brackets-mbo .cm-comment {
    color: #95958a;
}
.cm-s-Themes-for-Brackets-mbo .cm-string {
    color: #ffcf6c;
}
.cm-s-Themes-for-Brackets-mbo .cm-string-2 {
    color: #ffce6c;
}
.cm-s-Themes-for-Brackets-mbo .cm-meta {
    color: #ffffff;
}
.cm-s-Themes-for-Brackets-mbo .cm-qualifier {
    color: #ff007f;
    font-weight: bold;
}
.cm-s-Themes-for-Brackets-mbo .cm-bracket {
    color: #fffffc;
    font-weight: bold;
}
.cm-s-Themes-for-Brackets-mbo .cm-tag {
    color: #9DDFE9
}
.cm-s-Themes-for-Brackets-mbo .cm-attribute {
    color: #ffb928;
}
.cm-s-Themes-for-Brackets-mbo .cm-matchhighlight {
    background-color: rgba(61, 61, 61, 0.23);
}
div.CodeMirror span.CodeMirror-matchingbracket {
    color: #F54B07 !important;
    font-weight: bold;
    text-decoration: underline;
    background: transparent !important;
}
div.CodeMirror span.CodeMirror-searching {
    background: none none;
    /* NOTE Fix for Lint error probably can just be a single none */
    box-shadow: 0 0 0 1px #fff;
}
div.CodeMirror span.cm-matchhighlight.CodeMirror-searching.CodeMirror-selectedtext {
    background-color: #c3c3c3;
    color: #242424;
}
