#status-bar, .cm-s-mbo .CodeMirror-gutters, #main-toolbar{
    background:#333;
	color:rgba(255,255,255,0.9);
}
#sidebar{
	background:#414141;
}

.inline-widget{ /* Quick-edit styles */
	background-color:rgb(45, 47, 44);
}
.css-prop-defn code, .css-prop-defn h1, .css-prop-values dl dt{
	color:#999;
}
.css-prop-defn{
	color:#CCC;
}
.divider-holder .divider{
	border-right:1px solid rgb(50, 51, 49);
	border-left:1px solid rgb(34, 36, 32);
}

a.more-info{
	background-color: #454545;
	border: 1px solid #555;
	border-bottom: none;
	box-shadow: inset 0 1px 0 #777;
	text-shadow: none;
	color: #CCC;
}

.cm-s-mbo .CodeMirror-matchingtag{
	background:none;
	text-decoration:underline;
	color: #9DDFE9 !important;
}

.cm-s-mbo.CodeMirror-focused .CodeMirror-activeline-background, .cm-s-mbo.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background:#333;
    color: #d9d9d9;
}


.cm-s-mbo.CodeMirror, #editor-holder #not-editor {
	background-color: #2c2c2c;
	color: #ffffe9;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #ffffec;
  z-index: 3;
}

.CodeMirror-selected { 
    background: #716C62;
    opacity: .23; 
}

.cm-s-mbo .cm-keyword {color: #ffb928;}
.cm-s-mbo .cm-atom {color: #00a8c6;}
.cm-s-mbo .cm-number {color: #00a8c6; font-weight: bold;}
.cm-s-mbo .cm-def {color: #ffffec;}
.cm-s-mbo .cm-variable {color: #ffffec;}
.cm-s-mbo .cm-variable-2 {color: #00A8C6;}
.cm-s-mbo .cm-property {color: #52e3f6;}
.cm-s-mbo .cm-operator {color: #ff007f; font-weight: bold;}
.cm-s-mbo .cm-comment {color: #95958a;}
.cm-s-mbo .cm-string {color: #ffcf6c;}
.cm-s-mbo .cm-string-2 {color: #ffce6c;}
.cm-s-mbo .cm-meta {color: #ffffff;}
.cm-s-mbo .cm-qualifier {color: #ff007f; font-weight: bold;}
.cm-s-mbo .cm-bracket {color: #fffffc; font-weight: bold;}
.cm-s-mbo .cm-tag {color: #9DDFE9}
.cm-s-mbo .cm-attribute {color: #ffb928;}

.cm-s-mbo .cm-matchhighlight {background-color: rgba(61,61,61,0.23);}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #F54B07;
    font-weight: bold;
    text-decoration: underline;
}


div.CodeMirror span.CodeMirror-searching {
  background-color: none;
  background: none;
  box-shadow: 0 0 0 1px #fff;
}


div.CodeMirror span.cm-matchhighlight.CodeMirror-searching.CodeMirror-selectedtext {
    background-color: #c3c3c3;
    color: #242424;
}

.cm-s-mbo.CodeMirror .CodeMirror-linenumber {
	padding-left: 18px;
}