/*
BearTheme is bare theme for styling Adobe Brackets (Code Mirror) editor. Some elements need be overwritien, if you find comment with "may need !important", give it a try.
Good luck, have fun!
*/

.sidebar-selection,
.sidebar-selection-triangle {
    /* Selected file or folder */
    background: #2f3234;
}
.sidebar-selection-triangle.triangle-visible::before {
    border-left: 12px solid #2f3234;
}
/*Sidebar*/

#sidebar, #working-set-list-container  {
    background-color: #293134;
    color: #586e75;
}

#project-files-header {
    padding: 0;
}
#project-files-header .btn-alt-quiet {
    /* Folder button */
    border-radius: 0;
    width: 100%;
    margin: 0;
    background-color: #393939;
    padding: 10px;
}
.sidebar-selection,
.filetree-selection {
    /* Selected file or folder */
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: transparent !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #586e75;
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #657A81;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #728890;
}

/*Main area*/

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
    background: #293134;
    color: #E0E2E4;
    line-height: 1.3em;
}
/*Main coding area, without line count.*/

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid white !important;
}
/*Cursor stling*/

/* Linenumber area left of horizontal scrollbar. Height MUST be the same as width/height of scrollbars */

.CodeMirror .CodeMirror-scroll .CodeMirror-gutters {
    background-color: #293134
}
/*Left vertical bar with line count*/

.CodeMirror-gutter {
    background-color: #293134;
    color: #586E75!important
}
/*Left bar with line count - it will affect global line count, BUT line count in inline editor won't be changed.*/

.CodeMirror-linenumbers {
    background-color: #293134;
    color: #657A81!important;
}
/*Line count bar only, without "gutter"*/

.CodeMirror-foldgutter {
    background-color: #293134
}
/*It's exactly .CodeMirror-gutter{} without .CodeMirror-linenumbers{}.*/

/*Syntax elements & action*/

.CodeMirror .cm-bracket {
    color: #93C763!important;
}
/* the < > */

.CodeMirror .cm-atom {
    color: #269186
}
/*Atribbute value ex. #f00 in color:#f00;*/

.CodeMirror .cm-def {
    color: #9B859D
}
/*variable definition*/

.CodeMirror .cm-number {
    color: #FFCD22
}
/*Numbers*/

.CodeMirror .cm-variable {
    color: #E0E2E4
}
/*Variable name ex. class Variable_name */

.CodeMirror .cm-variable-2 {
    color: #E0E2E4
}
/*Variable declaration ex. $variable */

.CodeMirror .cm-property {
    color: #E0E2E4
}
/*Property ex. color in color:#f00;*/

.CodeMirror .cm-operator {
    color: #738A13
}
/*Operators ex. dots (:) between property and atom value */

.CodeMirror .cm-comment {
    color: #7D8C93
}
/*Comment*/

.CodeMirror .cm-string {
    color: #EC7600
}
/*String elements ex. "description" in name="description" - including quotation*/

.CodeMirror .cm-meta {
    color: #93A1A1
}
/*Meta elements like ex.: <!DOCTYPE html>*/

.CodeMirror .cm-qualifier {
    color: #738A13
}
/*Final qualifier like css class ex.: .cm-qualifier*/

.CodeMirror .cm-tag {
    color: #93C763;
}
/*Tags ex. ul or <ul>*/

.CodeMirror .cm-attribute {
    color: #678CB1
}
/*Attribute ex. rel, href, name*/

.CodeMirror .cm-keyword {
    color: #93C763
}
/*Element call ex. array, class, public function, if, elseif, !important*/

.CodeMirror .cm-matchingtag {
    background: #363636
}
.CodeMirror .CodeMirror-matchingtag {
    background: none !important;
    border-bottom: solid 1px #269186
}
/*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/

div.CodeMirror span.CodeMirror-matchingbracket {
    background: none !important;
    border-bottom: solid 1px #666;
    color: #ff3426 !important
}
/*Matching brackets, open/close*/

.CodeMirror-selected {
    background-color: #616161!important;
}
/*Selected lines - may need !important*/

.CodeMirror-activeline-background {
    background-color: #2f393c!important;
}
/*Active line - may need !important*/

.CodeMirror-gutter-elt {
    background-color: #293134!important;
    color: #586e75!important;
}
/*Active line, line count section*/

/*Status bar - bottom*/

#status-bar {
    background-color: #293134;
    color: #7D8C93;
}
/*Bottom status bar*/

/*Right toolbar - live preview, extensions*/

#main-toolbar {
    background-color: #293134
}
/*Whole toolbar*/

/*Inline editor(Ex. Quick Edit - Ctrl + E)*/

.inline-widget {
    background: #3c3f41;
    color: #657A81;
}
/*Inline widget wrap, won't affect line count bar*/

/*Global rules apply to inline editor scroll, just use .inline-widget class to target only bar options of this area. Example below.*/

.inline-widget .CodeMirror-gutter {
    background: #2f3234;
    color: #657A81;
}
/*Inline editor "gutter", won't affect line count in inline editor*/

.inline-widget .CodeMirror-linenumbers {
    background: #2f3234 !important;
    color: #657A81;
}
/*Inline editor line numbers bar - no "gutter"*/

.inline-widget .related-container {
    background: #2f3234
}
/*Related container with similar rules*/
/*Transparent Scroll Bar Background*/
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
