/*
Theme: Peacock
tmTheme: Dayle Rees
CodeMirror CSS: Paweł Chętkowski
*/

/*Main area*/

.CodeMirror,
.CodeMirror-scroll {
    background: #2b2a27;
    color: #ede0ce;
}
/*Main coding area, without line count.*/

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #ede0ce !important;
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: transparent !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #403c37;
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #504a43;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #605951;
}

.CodeMirror .CodeMirror-scroll .CodeMirror-gutters {
    background: #2b2a27;
    border-right: 1px solid #403c37;
}
/*Left vertical bar with line count*/

/*Syntax elements & action*/

.CodeMirror .cm-atom {
    color: #BCD42A;
}
/*Atribbute value ex. #f00 in color:#f00;*/

.CodeMirror .cm-number {
    color: #BCD42A;
}
/*Numbers*/

.CodeMirror .cm-property {
    color: #FF5D38;
}
/*Property ex. color in color:#f00;*/

.CodeMirror .cm-comment {
    color: #7A7267;
}
/*Comment*/

.CodeMirror .cm-string {
    color: #BCD42A;
}
/*String elements ex. "description" in name="description" - including quotation*/

.CodeMirror .cm-qualifier {
    color: #FF5D38;
    opacity: 0.75;
}
/*Final qualifier like css class ex.: .cm-qualifier*/

.CodeMirror .cm-tag {
    color: #26A6A6;
}
/*Tags ex. ul or <ul>*/

.CodeMirror .cm-attribute {
    color: #FF5D38;
}
/*Attribute ex. rel, href, name*/

.CodeMirror .cm-keyword {
    color: #26A6A6;
}

.CodeMirror .cm-variable {
    color: #ccc19b;
}
/*Element call ex. array, class, public function, if, elseif, !important*/

.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.1) !important;
}
/*Selected lines - may need !important*/

.CodeMirror-gutter-elt {
    background: #2b2a27 !important;
}
.CodeMirror-activeline-background {
    background: rgba(255, 255, 255, 0.1) !important;
}
/*Active line - may need !important*/

.CodeMirror .CodeMirror-matchingtag {
    background: none !important;
    text-decoration: none;
    border-bottom: 1px solid #FF5D38;
}
/*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/

div.CodeMirror span.CodeMirror-matchingbracket {
    background: none !important;
    text-decoration: none;
    border-bottom: 1px solid #FF5D38;
    color: white !important
}
/*Matching brackets, open/close*/

/*Status bar - bottom*/

#status-bar {
    background: #2b2a27;
    color: #ede0ce;
    border-top: 1px solid #403c37;
}
/*Bottom status bar*/

/*Modal windows like context-menu, quick-view or hint container*/

/*#context-menu-bar .dropdown-menu{background:#565656} /*Dropdown menu, available under right-click - may need !important*/

/*#context-menu-bar .dropdown-menu a{color:rgb(247, 239, 229);} /*Single option, treat it like <li> ex. background*/

/*#context-menu-bar .dropdown-menu a:hover{background:#403c37;}

/*#codehint-menu-bar .dropdown-menu{background:#565656;} /*Code hint menu, dropdown visible when writing code.*/

/*#codehint-menu-bar .dropdown-menu li a{color:#ede0ce;} /*Code hint menu option, dropdown visible when writing code. Treat like <li>*/

/*#codehint-menu-bar .dropdown-menu li a:hover {background:#403c37;} /*Code hint menu option, dropdown visible when writing code. Treat like <li>*/

/*Inline editor(Ex. Quick Edit - Ctrl + E)*/

.cm-s-peacock.CodeMirror .inline-widget {
    background: #403c37;
    color: #ccc;
}
.cm-s-peacock.CodeMirror .inline-widget h1,
.cm-s-peacock.CodeMirror .inline-widget h2,
.cm-s-peacock.CodeMirror .inline-widget h3 {
    color: #ccc;
}
.cm-s-peacock.CodeMirror .inline-widget p,
.cm-s-peacock.CodeMirror .inline-widget dt,
.cm-s-peacock.CodeMirror .inline-widget li,
.cm-s-peacock.CodeMirror .inline-widget code {
    color: #fff;
}
.CodeMirror pre {
    padding: 0 15px 0 5px;
}
