/*csslint ids:false,important: false,fallback-colors:false,adjoining-classes: false*/
/* SIDEBAR */
#sidebar, #working-set-header, #open-files-container, #main-toolbar{
    background:#1F4661;
    text-shadow:none;
}
#working-set-header, #open-files-container{ /* Working files */
    background:#16314a;
}
#project-files-header, #working-set-header{/* "working files" header and folder header*/
    color:#E0E0E0!important;
}
#project-files-header{ /* Delimiter between "working files" and project files */
    border-top: 4px solid #3E7087;
}
#project-dropdown-toggle:hover{ /* Open url when hover */
    color:#FFF!important;
    background:rgba(255,255,255,0.1);
    border:1px solid rgba(255,255,255,0.3);
}
.jstree-brackets li a, .jstree-brackets li .extension, .jstree-brackets li a.jstree-clicked, /* Files, folder and extensions */
#open-files-container li a, #open-files-container li .extension, #open-files-container li a.jstree-clicked{ /* Files, folder and extensions in "Working Files" */
    color:#FFF!important;
}
.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#3E7087;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #3E7087;
}

#status-bar{ /* Bottom status bar */
    background:#1F4661;
    border-top:1px solid #3E7087;
    color:#FFF;
}

.inline-widget{ /* Quick-edit styles */
    background:#1F4661;
}

/* CodeMirror styles */
.CodeMirror pre {padding: 0 15px 0 5px;}

.cm-s-rubyblue.CodeMirror { background: #112435; color: white; }
.cm-s-rubyblue .CodeMirror-selected { background: #38566F !important; }
.cm-s-rubyblue .CodeMirror-gutters { background: #1F4661; border-right: 7px solid #3E7087; }
.cm-s-rubyblue .CodeMirror-linenumber { color: white; }
.cm-s-rubyblue .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-rubyblue .cm-comment { color: #999; font-style:italic; }
.cm-s-rubyblue .cm-atom { color: #F4C20B; }
.cm-s-rubyblue .cm-number, .cm-s-rubyblue .cm-attribute { color: #82C6E0; }
.cm-s-rubyblue .cm-keyword { color: #F0F; }
.cm-s-rubyblue .cm-string { color: #F08047; }
.cm-s-rubyblue .cm-meta { color: #F0F; }
.cm-s-rubyblue .cm-variable-2, .cm-s-rubyblue .cm-tag { color: #7BD827; }
.cm-s-rubyblue .cm-variable-3, .cm-s-rubyblue .cm-def { color: white; }
.cm-s-rubyblue .cm-error { color: #AF2018; }
.cm-s-rubyblue .cm-bracket { color: #F0F; }
.cm-s-rubyblue .cm-link { color: #F4C20B; }
.cm-s-rubyblue .CodeMirror-matchingbracket { color:#F0F !important; }
.cm-s-rubyblue .cm-builtin, .cm-s-rubyblue .cm-special { color: #FF9D00; }

.cm-s-rubyblue.CodeMirror-focused .CodeMirror-activeline-background {
    background-color: rgba(255,255,255,0.1);
}

.cm-s-rubyblue .CodeMirror-matchingtag {
    color:white;
    background:rgba(255,255,255,0.2);
}

.cm-s-rubyblue.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background:none;
    border-right: 7px solid #165471;
    color:#7BD827;
}

.cm-s-rubyblue.CodeMirror .CodeMirror-linenumber {
    padding-left: 25px;
}

/* Bottom Bar */
.bottom-panel .toolbar .title {
    color: white;
}

.bottom-panel .toolbar {
    background-color: #38566F;
}

.close {
    color: white;
    opacity: .8;
    filter: alpha(opacity=80);
}
#shortcuts thead th {
    background-color: #112435;
}
#shortcuts thead a {
    color: white;
}
