/* SIDEBAR */

#sidebar,
#main-toolbar {
    background: #1F4661;
    text-shadow: none;
}
#working-set-list-container {
    /* Working files */
    background: #16314a;
    color: #E0E0E0!important;
}

#project-files-header {
    /* Delimiter between "working files" and project files */
    border-top: 4px solid #3E7087;
}

#project-files-header .btn-alt-quiet {
    background: transparent;
}
#project-files-header .btn-alt-quiet:hover {
    /* Open url when hover */
    color: #FFF!important;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebar-selection,
.filetree-selection {
    /* Selected file or folder */
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background: #3E7087;
}
#status-bar {
    /* Bottom status bar */
    background: #1F4661;
    border-top: 1px solid #3E7087;
    color: #FFF;
}
.inline-widget a.close {
    color: black !important;
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: #1F4661 !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #3E7087;
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #417a95;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #4a849f;
}

/* CodeMirror styles \Brackets\www\thirdparty\CodeMirror2\theme\rubyblue.css */

.CodeMirror pre {
    padding: 0 15px 0 5px;
}
.cm-s-Themes-for-Brackets-rubyblue.CodeMirror,
.cm-s-Themes-for-Brackets-rubyblue .CodeMirror-scroll {
    background: #112435;
    color: white;
}
.cm-s-Themes-for-Brackets-rubyblue div.CodeMirror-selected {
    background: #38566F !important;
}
.cm-s-Themes-for-Brackets-rubyblue .CodeMirror-gutters {
    background: #1F4661;
    border-right: 7px solid #3E7087;
}
.cm-s-Themes-for-Brackets-rubyblue .CodeMirror-linenumber {
    color: white;
}
.cm-s-Themes-for-Brackets-rubyblue .CodeMirror-cursor {
    border-left: 1px solid white !important;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-comment {
    color: #999;
    font-style: italic;
    line-height: 1em;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-atom {
    color: #F4C20B;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-number,
.cm-s-Themes-for-Brackets-rubyblue span.cm-attribute {
    color: #82C6E0;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-keyword {
    color: #F0F;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-string {
    color: #F08047;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-meta {
    color: #F0F;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-variable-2,
.cm-s-Themes-for-Brackets-rubyblue span.cm-tag {
    color: #7BD827;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-operator,
.cm-s-Themes-for-Brackets-rubyblue span.cm-variable,
.cm-s-Themes-for-Brackets-rubyblue span.cm-variable-3,
.cm-s-Themes-for-Brackets-rubyblue span.cm-def {
    color: white;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-bracket {
    color: #F0F;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-link {
    color: #F4C20B;
}
.cm-s-Themes-for-Brackets-rubyblue span.CodeMirror-matchingbracket {
    color: #F0F !important;
    background-color: transparent!important;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-builtin,
.cm-s-Themes-for-Brackets-rubyblue span.cm-special {
    color: #FF9D00;
}
.cm-s-Themes-for-Brackets-rubyblue span.cm-error {
    color: #AF2018;
}
.cm-s-Themes-for-Brackets-rubyblue .CodeMirror-activeline-background {
    background: #173047 !important;
}
/* End CodeMirror styles */

.cm-s-Themes-for-Brackets-rubyblue.CodeMirror-focused .CodeMirror-activeline-background {
    background-color: rgba(255, 255, 255, 0.1);
}
.cm-s-Themes-for-Brackets-rubyblue .CodeMirror-matchingtag {
    color: white;
    background: rgba(255, 255, 255, 0.2) !important;
}
.cm-s-Themes-for-Brackets-rubyblue.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: none;
    border-right: 7px solid #165471;
    color: #7BD827;
}
/* Bottom Bar */

.bottom-panel .toolbar .title {
    color: white;
}
.bottom-panel .toolbar {
    background-color: #38566F;
}
.close {
    color: white;
    opacity: .8;
    filter: alpha(opacity=80);
}
#shortcuts thead th {
    background-color: #112435;
}
#shortcuts thead a {
    color: white;
}
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
