/*
BearTheme is bare theme for styling Adobe Brackets (Code Mirror) editor. Some elements need be overwritien, if you find comment with "may need !important", give it a try.
Good luck, have fun!
*/

/*Sidebar*/

#sidebar {
    background-color: #292929
}
/*"Working files" header*/

#sidebar #open-files-container {
    background-color: #292929;
    color: #aeaeae;
}
/*Working files style*/

/*Project file header*/

#sidebar #project-files-header {
    background-color: #292929
}
/*Browser header, path select, search, X etc.*/

/*Project files container*/

#sidebar #project-files-container {
    background-color: #292929
}

/* Scrollbars */
.platform-win .CodeMirror-scrollbar-filler,.platform-win .CodeMirror-gutter-filler, .platform-linux .CodeMirror-scrollbar-filler,.platform-linux .CodeMirror-gutter-filler, .platform-win .CodeMirror-scrollbar-filler, .platform-win .CodeMirror-gutter-filler, .platform-win ::-webkit-scrollbar {
    background: #3B3D3F !important;
}

.platform-win ::-webkit-scrollbar-thumb {
    box-shadow: none;
    background-color: #606266;
    border-radius: 6px
}

.platform-win ::-webkit-scrollbar-thumb:hover,.platform-win ::-webkit-scrollbar-thumb:focus {
    box-shadow: none;
    background: #777;
}

.platform-win ::-webkit-scrollbar-thumb:active {
    box-shadow: none;
    background: #999;
}

/*Main area*/

.CodeMirror,
.CodeMirror-scroll {
    background: #161616;
    color: #f5f5f5;
    line-height: 1.3em;
    letter-spacing: 0.1px;
    font-weight: lighter
}
/*Main coding area, without line count.*/

.cm-s-sunburst.CodeMirror pre {
    padding: 0 15px 0 5px;
}
.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid white !important;
}

/* Linenumber area left of horizontal scrollbar. Height MUST be the same as width/height of scrollbars */

.CodeMirror .CodeMirror-scroll .CodeMirror-gutters {
    background-color: #292929
}
/*Left vertical bar with line count*/

.CodeMirror-gutter {
    background-color: #292929
}
/*Left bar with line count - it will affect global line count, BUT line count in inline editor won't be changed.*/

.CodeMirror-linenumbers {
    background-color: #292929
}
/*Line count bar only, without "gutter"*/

.CodeMirror-foldgutter {
    background-color: #292929
}
/*It's exactly .CodeMirror-gutter{} without .CodeMirror-linenumbers{}.*/

.CodeMirror-gutter-elt {
    background-color: #292929;
    color: #a7a4a4
}
/*Syntax elements & action*/

.CodeMirror .cm-atom {
    color: #F9EE98
}
/*Atribbute value ex. #f00 in color:#f00;*/

.CodeMirror .cm-def {
    color: #9B859D
}
/*variable definition*/

.CodeMirror .cm-number {
    color: #E28964
}
/*Numbers*/

.CodeMirror .cm-variable {
    color: #89BDFF
}
/*Variable name ex. class Variable_name */

.CodeMirror .cm-variable-2 {
    color: #65B042
}
/*Variable declaration ex. $variable */

.CodeMirror .cm-property {
    color: #C5AF75
}
/*Property ex. color in color:#f00;*/

.CodeMirror .cm-operator {
    color: #F9EE98
}
/*Operators ex. dots (:) between property and atom value */

.CodeMirror .cm-comment {
    color: #AEAEAE
}
/*Comment*/

.CodeMirror .cm-string {
    color: #65B042
}
/*String elements ex. "description" in name="description" - including quotation*/

.CodeMirror .cm-meta {
    color: #89BDFF
}
/*Meta elements like ex.: <!DOCTYPE html>*/

.CodeMirror .cm-qualifier {
    color: #9B703E
}
/*Final qualifier like css class ex.: .cm-qualifier*/

.CodeMirror .cm-tag {
    color: #89BDFF
}
/*Tags ex. ul or <ul>*/

.CodeMirror .cm-attribute {
    color: #E0C589
}
/*Attribute ex. rel, href, name*/

.CodeMirror .cm-keyword {
    color: #E28964
}
/*Element call ex. array, class, public function, if, elseif, !important*/

.CodeMirror .cm-matchingtag {
    background: #363636 !important
}
.CodeMirror .CodeMirror-matchingtag {
    background: none !important;
    border-bottom: dotted 1px #aaa
}
/*Matching tags, open/close. Try !important for bg, color etc. if it doesn't work*/

div.CodeMirror span.CodeMirror-matchingbracket {
    background: #363636 !important;
    border-bottom: dotted 1px #666;
    color: white !important
}
/*Matching brackets, open/close*/

.CodeMirror-selected {
    background-color: #ccc;
    opacity: 0.20;
}
/*Selected lines - may need !important*/

.CodeMirror-activeline-background {
    background-color: #ccc;
    opacity: 0.1
}
/*Active line - may need !important*/

/*Status bar - bottom*/

#status-bar {
    background-color: #292929;
    color: #aeaeae;
}
/*Bottom status bar*/

/*Right toolbar - live preview, extensions*/

#main-toolbar {
    background-color: #292929
}
/*Whole toolbar*/

/*Inline editor(Ex. Quick Edit - Ctrl + E)*/

.inline-widget {
    background: #565656
}
/*Inline widget wrap, won't affect line count bar*/

/*Global rules apply to inline editor scroll, just use .inline-widget class to target only bar options of this area. Example below.*/

.inline-widget .CodeMirror-gutter {
    background: #565656
}
/*Inline editor "gutter", won't affect line count in inline editor*/

.inline-widget .CodeMirror-linenumbers {
    background: #565656 !important
}
/*Inline editor line numbers bar - no "gutter"*/

.inline-widget .related-container {
    background: #646464
}
/*Related container with similar rules*/
/*Transparent Scroll Bar Background*/
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background: transparent;
}
